name: Continuous Integration
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 17
      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Test
        run: ./gradlew build
      - name: Delete Old Artifacts
        uses: actions/github-script@v6
        id: artifact
        with:
         script: |
          const res = await github.rest.actions.listArtifactsForRepo({
            owner: context.repo.owner,
            repo: context.repo.repo,
          })

          res.data.artifacts
            .filter(({ name }) => name === 'release')
            .forEach(({ id }) => {
              github.rest.actions.deleteArtifact({
                owner: context.repo.owner,
                repo: context.repo.repo,
                artifact_id: id,
              })
            })
      - name: Store artifact
        uses: actions/upload-artifact@v4
        with:
         name: release
         path: lib/kotlin-metadata-printer.jar
